name: Deploy app to ECS

on:
  workflow_dispatch:
    inputs:
      image-tag:
        description: "Image tag to deploy (e.g., latest, commit SHA)"
        required: true
        default: "latest"
        type: string

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-northeast-1

  ECS_SERVICE: handson-app-service
  ECS_CLUSTER: handson-cluster
  ECS_TASK_DEFINITION: handson-app-taskdef
  CONTAINER_NAME: app

jobs:
  app-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Dummy Step
        run: echo "run app deploy workflow"